*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card1 {
    background-color: white;
    border: black;
    border: solid;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}

.content1 {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    border-radius: 0.8rem;
}

.label1 {
    background-color: hsl(47, 88%, 63%);
    /* margin-top: 20px; */
    width: 74px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
}

.label1 p {
    font-weight: 800;
    font-size: 0.75rem;
}

.publish-date p {
    font-size: 0.75rem;
}

.heading1 p {
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: 4px;
    margin-bottom: 0;
}

.card-text p {
    line-height: 1.5;
    color: hsl(0, 0%, 50%);
}

.author-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.author-container img {
    height: 30px;
}

.author-container p {
    font-weight: 800;
    font-size: 0.75rem;
}

@media (min-width: 944px) {
    .card1 {
        width: 376px;;
        max-width: 376px;
        height: 500px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .image-container{
        margin: 22px 23px 0 23px;
    }

    .image-container img {  
        object-fit: cover;
    }

    .label1 {
        margin-top: 25px;;
        margin-left: 23px;
    }

    .label1 p {
        font-size: 11px;
    }

    .publish-date p {
        margin-top: 16px;
        margin-left: 23px; 
        font-size: 11px;
    }

    .heading1 {
        margin-left: 23px;
        margin-top: 12px;  
    }

    .heading1 p {
        font-size: 18px;
    }

    .card-text {
        margin-left: 23px;
        margin-right: 23px;
        margin: 16px 25px 0 25px;
    }

    .card-text p {
        font-size: 13px;
    }

    .author-container {
        margin-left: 23px; 
        margin-top: 16px;
    }

    .card1:hover {
        box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 1);
    }
}

@media (max-width: 943px) {
    .card1 {
        margin-left: 20px;
        margin-right: 20px;
        height: 500px;
        width: 326px;
    }

    .image-container img {
        margin-top: 25px;
        width: 278px;
        height: 200px;
        object-fit: cover;
    }

    .label1 {
        margin-top: 25px;;
        margin-left: 25px;
    }

    .label1 p {
        font-size: 11px;
    }
    
    .publish-date p {
        margin-top: 16px;
        margin-left: 25px;
        font-size: 11px;
    }

    .heading1 {
        margin-left: 25px;
        margin-top: 16px;
    }

    .heading1 p {
        font-size: 18px;
    }
    
    .card-text {
        margin-left: 25px;
        margin-right: 25px;
        margin: 16px 25px 0 25px;
    }

    .card-text p {
        font-size: 11.5px;
    }

    .author-container {
        margin-left: 25px;
        margin-top: 16px;
    }
}